.App {
  text-align: center;
}
.calendar {
  display: flex;
  flex-direction: column;
  width:fit-content;
  background-color:darkgray;
  border-style:ridge;
  border-width: 2px;
}
.calendarheader{
  display: grid;
  grid-template-columns: repeat(7 , 30px);
  justify-items: stretch;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-width: 1px;
}
.daycontainer{
  display: grid;
  grid-template-columns: repeat(7 , 30px);
  justify-items: stretch;
  border-style:solid;
  grid-column-gap: 1px;
  border-width: 1px;
}
.schedule{
  display: flex;
  flex-direction: column;
}
p{
  padding: 0;
  margin: 0;
}
button{
  background-color: white;
  border: transparent;
  width:100%;
}