.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.calendar p{
  padding: 0;
  margin: 0;
}
.calendar button{
  background-color: white;
  border: transparent;
  width:100%;
}
.calendar {
  display: flex;
  flex-direction: column;
  width:fit-content;
  background-color:darkgray;
  border-style:ridge;
  border-width: 2px;
}
.calendarheader{
  display: grid;
  grid-template-columns: repeat(7 , 30px);
  justify-items: stretch;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-width: 1px;
}
.daycontainer{
  display: grid;
  grid-template-columns: repeat(7 , 30px);
  justify-items: stretch;
  border-style:solid;
  grid-column-gap: 1px;
  border-width: 1px;
}
.navs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
}
.searchs{
  grid-column: 4;
}
.datePicker{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.dropdown{
  grid-column:4 ;
}
.dayinterval{
  display: flex;
  justify-content: space-around;
}
.weekintervalpicker{
  display: flex;
  justify-items: flex-start;
}
.weekintervalpicker button{
  border: transparent;
  background-color: transparent;
}
.odalarheader{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  white-space: pre-line;
  text-align: center;
}